@import "tailwindcss";

@theme {
  --color-brand-primary: #0056D2;
}

/* ===== MINIMAL BLACK SCROLLBAR ===== */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 4px;   /* thinner */
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent; /* ultra clean */
}

::-webkit-scrollbar-thumb {
  background: #000; /* black */
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333; /* slight hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #000 transparent;
}